@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --primary: #fe2c55;
    // deaful layout
    --default-layout-header-hight: 60px;
    --default-layout-padding: 24px;
    --default-layout-width-content: 1150px;
    --black: #000;
    --text-coler: #161823;
    --white: white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
// font
@font-face {
    font-family: Proximanova;
    src: url('/asset/font/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: Proximanova;
    src: url('/asset/font/Proxima-Nova-Semibold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: Proximanova;
    src: url('/asset/font/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
// end font
body {
    font-family: 'Proximanova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
    border: none;
    outline: none;
    color: inherit;
    color: currentColor;
}
a[href] {
    color: var(--text-coler);
    text-decoration: none;
}
button {
    font-family: inherit;
}
// custom tippy tooltips
body {
    .tippy-box {
        border-radius: 8px;
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 600;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
    .tippy-content {
        padding: 8px 9px;
    }
}
