.wrapper {
    min-width: 100px;
    font-size: 1.6rem;
    padding: 9px 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    + .wrapper {
        margin-left: 8px;
    }
}
// button type
.primary {
    background-color: var(--primary);
    color: var(--white);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.outline {
    border-color: var(--primary);
    color: var(--primary);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.small {
    padding: 4px 16px;
    min-width: 88px;
}
.large {
    padding: 14px 16px;
    width: 136px;
}
